.message {
    text-align:center;
    padding: 15px 0px;
    border: 1px solid #d6e9c6;
    border-radius: 4px;
    color: #3c763d;
    background-color: #dff0d8;
}
.close {
  position:absolute;
  top:0;
  right:0; 
  display:block;
  padding:5px;
  cursor: pointer;
  color:black;
}
.close:hover{
  background-color: rgb(238, 23, 23);
  color: white;
}